* {
  margin: 0;
  padding: 0;
}

.view_movie_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
}

.view_movie_poster {
  height: 35vh;
  width: 30vw;
  cursor: pointer;
}

.view_movie_play {
  margin: 1vw;
  padding: 1vw;
  background-color: aqua;
  cursor: pointer;
}
.Movie_background {
  color: white;
  object-fit: contain;
  height: 448px;
}
.Movie_Details {
  margin-left: 30px;
  padding-top: 140px;
  font-family: "Raleway", sans-serif;
  height: 190px;
  margin-bottom: 17vw;
}
.Movie_Title {
  font-size: 3rem;
  font-weight: 800;
  /* background-color: black; */
  width: 500px;
  /* opacity:0.8; */
  /* border-radius: 40px; */
  padding-bottom: 0.3rem;
}
.Movie_Description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
}
.Function_Buttons {
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  cursor: pointer;
}

.Function_Buttons:hover {
  color: black;
  background-color: aliceblue;
  transition: all 0.5s;
}
