
  .Login_form_field {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
  }
 
 
 .login_background_image{
   filter: brightness(40%);
   background-image: url("../../../public/images/Project2.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   position: absolute;
   height: 100vh;
 } 
