@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* nav {
  display: flex;
  background-color: rgb(34, 34, 34);
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
} */
/* nav .logo {
  color: red;
  font-size: 2.5rem;
} */
.logo {
  color: red;
  font-size: 2.5rem;
}
/* nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
} */
.navbar_container ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
/* nav ul li {
  margin: 5px 10px;
} */
.navbar_container ul li {
  margin: 5px 10px;
}
/* nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  border-bottom: 1.5px solid transparent;
  transition: all 0.3s ease;
} */
.navbar_container ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  border-bottom: 1.5px solid transparent;
  transition: all 0.3s ease;
}
.nav_buttons {
  height: 40px;
  font-size: 1.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: rgb(245, 70, 70);
  width: 85px;
  border-radius: 3%;
  border: none;
  margin-left: 10px;
}
/* nav ul li a:hover {
  border-color: red;
  color: red;
} */
.navbar_container ul li a:hover {
  border-color: red;
  color: red;
}
.nav_buttons:hover {
  background-color: whitesmoke;
  color: rgb(251, 84, 84);
}

.navbar_container{
  position: absolute;
  top: 2%;
  left: 2%;
}
.navLink{
  position: absolute;
  top: 1%;
  left: 2vw;
}
.navLink1{
  position: absolute;
  top: 2%;
  left: 82.5vw;
}

.navLink2{
  position: absolute;
  top: 2%;
  left: 68vw;
}

.navLink3{
  position: absolute;
  top: 2%;
  left: 61vw;
}
.navbutton{
  position: absolute;
  top: 2%;
  left: 83vw;
}

.navbutton1{
  position: absolute;
  top: 2%;
  left: 90vw;
}
.navbutton2{
  position: absolute;
  top: 50%;
  left: 86vw;
}